*{
    box-sizing: border-box;
}
body{
    background-image: url("hero_img_01.jpg");
    background-size: cover;;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container{
    position: absolute;
    top:54%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content{
    width: 970px;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    color: #e0e0e0;
}
#pop-up{
    position: relative;
    top:25px;
    width:250px;
    padding:11px;
    font-size: 28px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(#c2c2c2,#e0e0e0);
    cursor: pointer;
    border: 2px solid #fff;
}
#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
iframe{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.close-button{
    color: #ccc;
    background-color: yellow;
    float: right;
    padding: 10px 20px;
    border-radius: 30%;
    margin: 20px;
    font-size: 30px;
}
.close-button:hover,.close-button:focus{
    color:#000;
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}



@media only screen and (max-width:870px){
    body{
        background-image: url("Hero_img_mobile_01.jpg");
    }
    .container{
        top:65%;
    }
    .content{
        font-size: 25px;
        width: 310px;
    }
    #pop-up{
        font-size: 18px;
        width: 150px;
    }
}
@media only screen and (min-width:768px) and (max-width:1366px){
    body{
        background-image: url("Hero_img_mobile_01.jpg");
    }
    .content{
        width: 500px;
        font-size: 28px;
    }
    iframe{
        width: 90%;
        height: 600px;
    }
}
@media only screen and (max-width:500px){
    iframe{
        width: 90%;
        height: 300px;
    }
}