*{
    box-sizing: border-box;
}
body{
    background-image: url("hero_img_01.jpg");
    background-size: cover;;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container{
    position: absolute;
    top:54%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content{
    width: 970px;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    color: #e0e0e0;
}
#pop-up{
    position: relative;
    top:20px;
    width:250px;
    cursor: pointer;
}
#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
iframe{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.close-button{
    color: #ccc;
    background-color: yellow;
    float: right;
    padding: 10px 20px;
    border-radius: 30%;
    margin: 20px;
    font-size: 30px;
}
.close-button:hover,.close-button:focus{
    color:#000;
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}





   @media only screen and (max-width:479px){
    body{
        background-image: url("Hero_img_mobile_01.jpg");
    }
    .container{
        top:65%;
        width: 100%;
    }
    .content{
        width: 90%;
        margin: auto;
    }
    iframe{
        width: 90%;
        height: 300px;
    }
}
@media all and (min-width: 480px) and (max-width: 767px){
    body{
        background-image: url("Hero_img_mobile_01.jpg");
        background-position: top;
    }
    .container{
        top:65%;
        width: 100%;
    }
    .content{
        width: 90%;
        margin: auto;
    }
    iframe{
        width: 80%;
        height: 400px;
    }
}
@media all and (min-width: 768px) and (max-width: 959px){
    body{
        background-image: url("Hero_img_mobile_01.jpg");
        background-position: top;
    }
    .container{
        top:65%;
        width: 100%;
    }
    .content{
        width: 90%;
        margin: auto;
    }
    iframe{
        width: 80%;
        height: 400px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1150px){
    body{
        background-image: url("Hero_img_mobile_01.jpg");
        background-position: top;
    }
    .container{
        top:65%;
        width: 100%;
    }
    .content{
        width: 90%;
        margin: auto;
    }
    iframe{
        width: 80%;
        height: 600px;
    }
}
@media only screen and (min-width:3000px){
    .content{
        width: 2400px;
        font-size: 70px;
    }
    iframe{
        width:70%;
        height: 900px;;
    }
}

